<html>
    <head><title><%= title %></title></head>
    <link href="assets/css/app.css" rel="stylesheet" />
    <body>
        <%- include("components/navbar.ejs") %>
        <div class="form-row">
            <div class="left-side">
            </div>
            <div class="right-side">
                <%- include("components/signup.ejs") %>
            </div>
        </div>
    </body>
</html>